.main-container{
  background-color: white;
  min-height: 100vh;
  width: auto;
}

.form-container{
  margin: 20vh 20vw 0 20vw;
  padding: 2vh 2vw;
  background-color: #DADED4;
  min-height: 30vh;
  max-width: 50vw;
}

.universal-input{
  margin-top: 2vh !important;
}

.default-button{
  outline: none !important;
}

.default-text{
  user-select: none;
}

.default-card{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}