.navbar-button{
    outline: none !important;
    color: inherit !important;
}

.navbar-button:hover{
    text-decoration: none !important;
}

#logo{
    border: none !important;
}

.search{
    flex-grow: 1;
    padding-left: 30% !important;
    padding-right: 30% !important;
}